body{
  background-color: #FAD9E6;
}

hr{
  border-style: dotted none none;
  border-color: #39AEA9;
  border-width: 7px;
  width: 10%;
}

h3{
  color: #39AEA9;
}

h1{
  color: #39AEA9;
}
